/******************************************************************************
 *
 * @file            nrf52840dk_nrf52840.overlay
 *
 * @brief           Overlay for ZOE-M8Q sample
 *
 * @details         Templating off of icm42605 
 * 
 * @author(s)       Marshall Wingerson
 *
 * @created         05/31/2021   (MM/DD/YYYY)
 *
 * @copyright       © 2020 SWYM, LLC. All Rights Reserved.
 *
 *****************************************************************************/

/* FIXME - Should't need SPI configuration */

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <31>;
	mosi-pin = <30>;
	miso-pin = <40>;
	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;


	zoe-m8q@0 {
		compatible = "u-blox,zoe-m8q";
		spi-max-frequency = <24000000>;
		reg = <0>;
		label = "ZOE_M8Q";
		/* int-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>; */
	};
};


