#/******************************************************************************
# *
# * @file            Kconfig
# *
# * @brief           Kconfig ZOE-M8Q GPS device configuration options
# *
# * @details         Using Zephyr icm42605 Kconfig as a template
# * 
# * @author(s)       Marshall Wingerson
# *
# * @created         05/31/2021   (MM/DD/YYYY)
# *
# * @copyright       © 2020 SWYM, LLC. All Rights Reserved.
# *
# *****************************************************************************/


# FIXME - change to ZOE-M8Q settings



menuconfig ZOEM8Q
	bool "U-Blox ZOE-M8Q 72-channel GNSS Reciever"
	depends on SPI
	help
	  Enable driver for U-Blox ZOE-M8Q 72-channel GNSS Reciever.

